.header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    border: 3px solid #1a252f;
    text-align: center;
}

/* CONTENEDOR PRINCIPAL */
.container {
    width: 90%;
    margin: 0 auto;
    border: 2px solid blue;
    overflow: hidden;
}

/* SIDEBAR */
.sidebar {
    width: 25%;
    height: 30vh;
    float: left;
    background-color: #ecf0f1;
    padding: 15px;
    border: 2px solid #bdc3c7;
    margin-right: 2%;
}

/* CONTENIDO */
.content {
    width: 73%;
    height: 30vh;
    float: left;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #bdc3c7;
}

.footer {
    clear: both;
    margin-top: 10px;
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    border: 3px solid #1a252f;
    text-align: center;
}

/* Contenedor de las imagenes */
.galeria {
    width: 100%;
    padding: 10px;
    clear: both; 
    overflow: hidden; /* Limpia los floats internos */
}

/* Usamos Box Model */
.galeria .caja {
    float: left;
    width: 31%;
    margin: 1%;
    border: 1px solid blueviolet; 
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.galeria .caja:hover {
    transform: translateY(-10px); /* Se eleva 10px */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra más profunda al alzarse */
    border-color: #6a5acd; 
    cursor: pointer;
}

/* IMAGEN dentro de la caja */
.galeria .caja img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: top; /* Ajuste general: ver caras */
    display: block;
    margin-bottom: 8px;
}

/* Ajuste específico para bajar un poco las caras en 1, 4 y 6 */
.galeria .caja:nth-child(1) img,
.galeria .caja:nth-child(4) img,
.galeria .caja:nth-child(6) img {
    object-position: 50% 30%; 
}

/* Estilos de texto */
.galeria .caja h3 {
    font-size: 14px;
    margin: 5px 0;
    font-family: sans-serif;
}

.galeria .caja p {
    font-size: 11px;
    color: #777;
}
